
<div class="form-inputs">

  <%= simple_form_for @quest do |f| %>

    <%= f.input :title, label: 'Nom de la quête'  %>
    <%= f.input :description, label: 'Description'  %>
    <%= f.input :location, collection: Quest::LOCATIONS, label: 'Localisation'  %>
    <%= f.button :submit, 'Mettre à jour ma super quête', class: 'btn-form'  %>

    <% end %>

</div>
