<div class=" md:p-10  md:px-0 items-center flex flex-col">

    <div class=" max-w-lg md:p-12 my-8 shadow-2xl body-bg rounded-md">
        <div class="text-center">
            <h3 class="font-bold text-3xl">Créer ma super quête</h3>
        </div>

        <div class="mt-8  ">

          <%= simple_form_for @quest do |f| %>

            <form class="flex flex-col" method="POST" action="#">
                <div class="border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
                    <%= f.input :title, label: 'Nom de la quête'  %>
                </div>
                <div class="rounded w-full text-black-900 focus:outline-none  focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form ">
                    <%= f.input :description, label: 'Description (min 30 caractères)'  %>
                </div>
                <div class="rounded w-full text-black-900 focus:outline-none  focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form ">
                    <%= f.input :location, label: 'Adresse' %>
                </div>

                <div class="rounded w-full text-black-900 focus:outline-none  focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form ">
                    <%= f.input :photo, as: :file, required: true %>
                </div>

                <div class="flex flex-col items-center mt-4 px-12">
                  <% if @quest.new_record? %>
                  <%= f.button :submit, 'Créer ma super quête', class: 'button-create-quest'  %>
                  <% else %>
                  <%= f.button :submit, 'Mettre à jour ma super quête', class: 'button-create-quest'  %>
                  <% end %>
                </div>
                <% end %>
            </form>
        </div>
    </div>

</div>



