<!-- BANNER DEBUT -->
<div class="gradient leading-relaxed tracking-wide flex flex-col space-y-0">
    <div class="container mt-8">
      <div class="text-center px-3 lg:px-0">
        <h1 class="mt-4 mb-8 text-2xl md:text-3xl lg:text-5xl font-black leading-tight"> Retrouvez toutes les quêtes</h1>
        <p class="leading-normal text-gray-800 text-base md:text-xl lg:text-xl mb-10"> Vous avez une quête en tête ? N'attendez plus !</p>

        <button>
         <%= link_to 'Créer une super quête', new_quest_path(@quest), class:"mx-auto lg:mx-0 text-gray-900 font-extrabold rounded my-2 md:my-6 py-4 px-8 shadow-lg w-48 no-underline hover:text-white hover-button" %>
        </button>

         <div class="mt-10 place-self-center items-center img-banner-index-quest flex items-center">
            <%= image_tag 'bush2.png', height: 100, width: 200 %>
          </div>

        </div>
      </div>
    </div>

<!-- BANNER FIN -->


<div class="container mb-40 mt-20">

<!-- SEARCH BAR -->
    <%= form_tag quests_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Nom de quête, de guilde ou ville"
      %>
      <%= submit_tag "Chercher", class: "btn btn-dash" %>
    <% end %>


<!-- CARDS DEBUT -->
  <div class="max-w-4xl mx-auto">
    <h2 class="text-center text-3xl sm:text-4xl mt-8 sm:mt-16 text-black mb-4 leading-tight">Découvrez votre prochaine quête !</h2>
  </div>

  <ul class="my-8 sm:my-16 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8" id="text_decoration_card_quest">

    <% @quests.order("resolved ASC").each do |quest| %>
    <%= link_to quest do %>

    <li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
      <div class="relative flex-shrink-0">
      <% if quest.photo.attached? %>
        <div class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover "><%= cl_image_tag quest.photo.key, height: 400, width: 400, crop: :fill %></div>
      <% else %>
        <div class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover "><%= image_tag "coins.jpg", height: 400, width: 400, crop: :fill %></div>
      <% end %>
        <!-- <img loading="lazy" src="https://pyxis.nymag.com/v1/imgs/027/cf0/d4c718a6f46b8fb48a5cb4d54c98b771c5-23-firewatch.rsquare.w700.jpg"
        srcset="https://pyxis.nymag.com/v1/imgs/027/cf0/d4c718a6f46b8fb48a5cb4d54c98b771c5-23-firewatch.rsquare.w700.jpg 1x, https://pyxis.nymag.com/v1/imgs/027/cf0/d4c718a6f46b8fb48a5cb4d54c98b771c5-23-firewatch.rsquare.w700.jpg 2x"
        width="352" height="256"
        class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover"
        alt="Image de Pirate"> -->

      </div>

      <div class="relative px-4 -mt-12 text-left">
        <div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
          <div class="text-xs text-gray-600 font-semibold"><% if quest.resolved %>
            <p><i class="far fa-check-circle"></i> TERMINEE</p>
          <% else %>
            <p class="text-yellow-400"><i class="far fa-clock"></i> EN COURS</p>
          <% end %>
            <h1 class="truncate text-gray-900 font-bold text-lg leading-tight my-1 uppercase"><%= quest.title %></h1>
            <p class="text-gray-900 text-sm leading-tight my-1 italic">
              <% if quest.guild != nil %>
                <%= quest.guild.name %>
              <% else %>
                <%= "Aucune guilde" %>
              <% end %>
            </p>



            <div class="m-3" >
              <button class="text-white-800 font-bold rounded border-b-2 border-white-500 hover:border-white-600 hover:bg-white-500 hover:text-black shadow-md py-2 px-6 inline-flex items-center" id="button_card_quest">
                <span class="mr-2">Découvrir</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentcolor" d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"></path>
                </svg>
              </button>
            </div>

        </div>
      </div>
    </li>
    <% end %>
    <% end %>
  </ul>
</div>
<!-- CARDS FIN -->
