
<div class="container">
  <div>
    <h1>Ici l'aventure commence</h1>
    <p>Vous ne trouvez pas la quête de vos rêves ?</p>
    <br>
    <%= link_to 'Créer une quête', new_quest_path(@quest), class: "btn btn-form" %>
  </div>


  <ul class="card-list">

    <% @quests.each do |quest| %>
      <%= link_to quest do %>
      <div class="card ">
        <%= quest.title %>
        <%= quest.description %>
        <%= quest.location %>
        <%= quest.resolved %>
        <%= quest.creator_id %>
      </div>
       <% end %>
    <% end %>

  </ul>
</div>




