<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1508583842811-adaac5d780de?ixlib=rb-1.2.1&auto=format&fit=crop&w=2091&q=80);">
  <div class="container">
    <h1>Ici l'aventure commence</h1>
    <p>Vous ne trouvez pas la quête de vos rêves ?</p>
    <br>
    <%= link_to 'Créer une quête', new_quest_path(@quest), class: "btn btn-form" %>
  </div>
</div>

<ul class="card-list">

  <% @quests.each do |quest| %>

    <div class="card ">
      <%= quest.title %>
      <%= quest.description %>
      <%= quest.location %>
      <%= quest.resolved %>
      <%= quest.creator_id %>
    </div>

  <% end %>

</ul>
