  <div class="container">
    <h1>Ici l'aventure commence</h1>
    <p>Vous ne trouvez pas la quête de vos rêves ?</p>
    <br>
    <%= link_to 'Créer une quête', new_quest_path(@quest), class: "btn btn-form" %>
  </div>


<ul class="card-list">

  <% @quests.each do |quest| %>
    <%= link_to quest do %>
    <div class="card ">
      <%= quest.title %>
      <%= quest.description %>
      <%= quest.location %>
      <%= quest.resolved %>
      <%= quest.creator_id %>
    </div>
     <% end %>
  <% end %>

</ul>









<body class="leading-normal">
<header class="pb-4 pt-4 lg:pt-0 relative z-20 border-b border-gray-200" x-data="{ open: false }" :class="{ 'shadow-lg': open === true }">
<div class="w-full py-2 mb-4 mx-auto h-full hidden bg-gray-800 lg:flex justify-end">
<div class="container mx-auto px-4">
<ul class="flex items-center justify-end -mx-4">
<li class="mx-4"><a href="https://propertylisbon.pt" class="font-semibold text-white  hover:text-gray-100 text-sm">Property Lisbon</a></li>
<li class="mx-4"><a href="https://maisonlisbonne.com" class="text-gray-600 hover:text-gray-100 text-sm">Maison Lisbonne</a></li>
<li class="mx-4"><a href="https://apartamentoslisboa.net" class="text-gray-600 hover:text-gray-100 text-sm">Apartamentos Lisboa</a></li>
</ul>
</div>
</div>
<div class="container pl-4 lg:px-4 mx-auto h-full flex flex-wrap items-center">
<div class="inline-block flex-1 lg:flex-none">
<a href="/" class="focus:outline-none block hover:opacity-75"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 56" height="36"><g fill-rule="evenodd"><path fill="#4FD1C5" d="M214.16 11.69c0-5.3-2.46-7.95-7.39-7.95-2.13 0-3.98.66-5.53 2a13.12 13.12 0 0 0-3.6 5.13 69.46 69.46 0 0 0-2.5 7.58c-.8 2.96-1.53 5.9-2.16 8.8-1.57 7.18-3.8 13.16-6.7 17.94.88.4 2.22 1.03 4.01 1.9 1.8.88 3.24 1.56 4.33 2.06 3.06 1.4 6.56 2.52 8.87 2.52 1.02 0 1.98-.26 2.87-.77a7.03 7.03 0 0 0 2.06-1.69 31.12 31.12 0 0 0 1.87-2.65l1.83.97c-2.13 4.1-4.58 6.82-6.96 7.8-1.06.45-2.43.67-4.1.67-1.68 0-4.35-.72-6.35-1.33-2-.6-4.24-1.47-6.73-2.6a84.09 84.09 0 0 0-5.26-2.26 22.65 22.65 0 0 1-7.44 4.16 30.96 30.96 0 0 1-10.38 1.6 12.6 12.6 0 0 1-5.35-1.1c-3.03-1.43-4.55-3.24-4.55-5.44 0-2.19.67-4.04 2-5.54 2.55-2.86 6.08-4.3 10.59-4.3 3.22 0 6.63.69 10.22 2.04 1.31.52 3.02 1.23 5.13 2.15a68.88 68.88 0 0 0 2.66-10.14c.73-3.82 1.4-6.98 2.04-9.48.63-2.5 1.27-4.8 1.94-6.92.67-2.1 1.54-4.15 2.62-6.15s2.28-3.7 3.58-5.1c2.9-3.06 6.65-4.59 11.28-4.59 3.52 0 6.39 1.04 8.6 3.1C217.9 6.19 219 9.1 219 12.84c0 2.79-.55 5.5-1.66 8.12a24.02 24.02 0 0 1-4.38 6.93c-1.82 2-3.93 3.69-6.31 5.07a22.42 22.42 0 0 1-7.4 2.74l-.52-2.04a17.62 17.62 0 0 0 8-4.53 23.67 23.67 0 0 0 5.5-8.02 24.15 24.15 0 0 0 1.93-9.41zm-57 36.85c0 1.96 1.19 3.28 3.58 3.94a20.9 20.9 0 0 0 14.79-1.3 11.12 11.12 0 0 0 4.2-3.23c-4.87-3.35-9.3-5.02-13.28-5.02-6.2 0-9.3 1.87-9.3 5.61zm60.51 5.41a3.73 3.73 0 0 1-.89-2.64 17 17 0 0 1 .87-4.57 91.07 91.07 0 0 1 1.74-5.26c.58-1.57.87-2.62.87-3.15 0-.53-.17-.8-.52-.8-.86 0-2.5 1.7-4.42 5.1l-2.16-1.15c3.63-6.1 6.88-9.44 9.91-9.44 2.07 0 3.11 1.3 3.11 3.91 0 .76-.25 1.98-.74 3.65l-2.66 7.6a5.5 5.5 0 0 0-.41 1.94c0 .58.22.86.67.86.83 0 2.38-1.54 4.62-4.64l1.56 1.44a19.1 19.1 0 0 1-4.76 5.9c-1.84 1.47-3.28 2.21-4.33 2.21a3.19 3.19 0 0 1-2.46-.96zm11.64-30.22a3.22 3.22 0 0 1-2.66 1.23c-1.12 0-1.95-.34-2.51-1.03a3.98 3.98 0 0 1-.84-2.6c0-1.04.35-1.97 1.04-2.78a3.36 3.36 0 0 1 2.67-1.21c1.1 0 1.92.35 2.46 1.06.55.71.82 1.57.82 2.58 0 1-.33 1.92-.98 2.75zm2 28.32a3.8 3.8 0 0 1-1.02-2.56c0-.94.26-1.71.77-2.33a2.5 2.5 0 0 1 2.02-.92c.84 0 1.59.25 2.23.76.65.5.97 1.22.97 2.14 0 .92-.56 1.69-1.68 2.3.92.81 2.33 1.22 4.23 1.22 4.12 0 6.17-1.18 6.17-3.54 0-1.48-1.3-2.66-3.9-3.54a93.85 93.85 0 0 1-3.23-1.18 7.97 7.97 0 0 1-2.83-1.85 4.46 4.46 0 0 1-1.32-2.95c0-1.67.55-3.08 1.64-4.24 2.07-2.21 5.16-3.32 9.28-3.32 2.02 0 3.8.39 5.36 1.16 1.56.78 2.34 1.78 2.34 3 0 1.24-.31 2.12-.93 2.66a3.2 3.2 0 0 1-2.17.82c-.83 0-1.53-.23-2.1-.69a2.3 2.3 0 0 1-.86-1.9c0-.8.47-1.5 1.42-2.1-.58-.42-1.59-.63-3.03-.63-1.43 0-2.72.22-3.87.65-1.14.43-1.71 1.01-1.71 1.75s.42 1.35 1.26 1.85c.84.49 1.85.94 3.05 1.36 1.19.42 2.38.9 3.57 1.44 1.2.54 2.21 1.32 3.05 2.32.84 1.01 1.26 2.25 1.26 3.73a5.6 5.6 0 0 1-1.79 4.02c-2.26 2.29-5.35 3.43-9.27 3.43-2.07 0-3.9-.28-5.5-.85a8.12 8.12 0 0 1-3.4-2zm38.8 1.5a16.26 16.26 0 0 1-6.87 1.36c-2.6 0-4.79-.78-6.59-2.33a7.47 7.47 0 0 1-2.7-5.91c0-.28.05-.78.15-1.52 1-6.78 2.83-14.2 5.47-22.28 2.64-8.07 5.48-14.09 8.51-18.06h6.24c-1.83 2.07-4.03 6.47-6.58 13.2a163.04 163.04 0 0 0-6.19 19.9c2.96-3.95 6.29-5.92 9.98-5.92 2.3 0 4.07.78 5.3 2.35a8.44 8.44 0 0 1 1.86 5.37c0 2.03-.33 3.88-.99 5.57a17.04 17.04 0 0 1-2.8 4.71 13.4 13.4 0 0 1-4.8 3.55zm-9.95-8.24a16.1 16.1 0 0 0-.3 3c0 .96.36 1.94 1.07 2.93.7 1 1.79 1.5 3.25 1.5s2.8-.64 4.01-1.92c2.34-2.47 3.51-5.75 3.51-9.81 0-1.67-.28-3.04-.84-4.1a2.75 2.75 0 0 0-2.6-1.6c-1.16 0-2.62.94-4.36 2.83a16.5 16.5 0 0 0-3.74 7.17zm20.15.23c0-1.84.44-3.62 1.32-5.33.89-1.7 2.03-3.15 3.44-4.33 3.1-2.56 6.27-3.84 9.5-3.84 3.22 0 5.86.87 7.92 2.62a8.23 8.23 0 0 1 3.1 6.55c0 2.62-.72 4.97-2.14 7.06a14.54 14.54 0 0 1-5.62 4.89 16.74 16.74 0 0 1-7.61 1.75c-2.76 0-5.1-.88-7.02-2.64a8.7 8.7 0 0 1-2.9-6.73zm11.8 7.2a5.3 5.3 0 0 0 3.21-1.12c1-.75 1.76-1.72 2.28-2.91a17.26 17.26 0 0 0 1.53-7.08c0-2.43-.45-4.28-1.34-5.53a4.37 4.37 0 0 0-3.79-1.88c-1.63 0-3.25 1.07-4.85 3.2-1.6 2.14-2.4 4.86-2.4 8.16 0 4.77 1.8 7.15 5.36 7.15zm26.76-8.79c5.08-7.94 9.64-11.91 13.68-11.91 1.37 0 2.39.42 3.07 1.25.68.84 1.02 1.9 1.02 3.18 0 1.28-.56 3.49-1.7 6.64-1.13 3.14-1.7 5.1-1.7 5.84 0 .75.19 1.13.55 1.13.5 0 1.2-.51 2.16-1.53.95-1.02 1.79-2.1 2.52-3.23L340 46.8c-1.46 2.68-3.06 4.7-4.8 6.06-1.74 1.37-3.15 2.05-4.23 2.05a3.13 3.13 0 0 1-2.54-1.09 4.48 4.48 0 0 1-.91-2.97c0-1.25.49-3.3 1.47-6.14.99-2.84 1.48-4.86 1.48-6.05 0-1.2-.4-1.79-1.2-1.79-.93 0-2.02.6-3.29 1.8a27.5 27.5 0 0 0-3.68 4.36c-1.9 2.76-3.84 5.93-5.8 9.52l-1 1.77h-5.14l1.13-3.47c2.12-6.4 3.18-10.18 3.18-11.38 0-1.19-.2-1.79-.59-1.79-.7 0-1.54.85-2.51 2.55-.22.4-.4.7-.55.94-.15.23-.31.52-.5.85l-.34.6-2.45-1.43c1.9-3.13 3.64-5.43 5.22-6.92 1.58-1.49 3.2-2.23 4.86-2.23.75 0 1.4.32 1.95.96.55.64.82 1.41.82 2.32 0 .91-.07 1.8-.22 2.68-.14.87-.3 1.6-.45 2.17a364.56 364.56 0 0 1-1.04 3.78z"></path><path fill="#19404d" d="M9.88 20.16h1.4c5.73 0 10.36-.26 10.36-9.66C21.64.94 16.9.78 11.29.78h-1.4v19.38zm0 .78v8.52c0 6.08 2.91 6.34 5.67 6.34v.78H.1v-.78c2.4 0 3.44-2.03 3.44-6.29V6.18c0-3.37-1.1-5.4-3.54-5.4V0h11.29c10.35 0 17.47 1.56 17.47 10.5 0 8.93-7.12 10.44-17.47 10.44h-1.4zm35.2-8.63c-1.67.42-4.22 1.51-6.56 5.4v-5.6l-8.16 1.76v.78c2.13.78 2.6 1.56 2.6 3.33v12.99c0 2.7-.1 4.2-2.08 4.83v.78h9.78v-.78c-1.88-.52-2.14-1.92-2.14-4.83v-11.9c1.77-3.28 4.58-4.16 4.48-3.43-.05.78.26 1.61.88 2.29a3.42 3.42 0 0 0 4.79-.06 3.35 3.35 0 0 0 0-4.72 4.19 4.19 0 0 0-3.6-.84zM67 24.58c0-9.4-1.77-11.7-5.67-11.7-3.85 0-5.67 2.3-5.67 11.7 0 9.4 1.82 11.69 5.67 11.69 3.9 0 5.67-2.29 5.67-11.7zm6.55 0c0 6.8-4.27 12.47-12.22 12.47-7.9 0-12.17-5.67-12.17-12.47 0-6.86 4.26-12.47 12.17-12.47 7.95 0 12.22 5.6 12.22 12.47zm20.05.83c0-8.32-2.4-11.54-6.77-11.54-3.27 0-5.3 2.5-5.61 5.82v9.61c.36 5 3.22 6.97 6.19 6.97 3.64 0 6.19-2.76 6.19-10.86zm6.4-.63c0 8.21-5.36 12.27-12.49 12.27-2.5 0-4.68-.68-6.3-1.77v9.82c0 2.86.27 4 2.14 4.47v.78h-9.73v-.78c1.98-.57 2.08-1.82 2.08-4.47V17.5c0-1.8-.46-2.28-2.6-2.85v-.78l8.12-1.76v4.1c1.6-2.9 5.25-4.1 7.8-4.1 6.4 0 10.97 4.98 10.97 12.67zm7.36-1.45h11.14c0-7.07-2.76-10.44-5.41-10.44-3.02 0-5.73 4.67-5.73 10.44zm14.98 6.65l.73.36c-.67 2.55-3.7 6.7-10.24 6.7-6.6 0-11.29-5.81-11.29-12.3 0-7.49 4.94-12.63 11.75-12.63 6.82 0 10.61 3.84 10.61 12h-16.54c.32 6.02 3.18 8.78 6.92 9.35 3.02.47 6.92-.99 8.06-3.48zm16.43-17.67c-1.67.42-4.22 1.51-6.56 5.4v-5.6l-8.16 1.76v.78c2.13.78 2.6 1.56 2.6 3.33v12.99c0 2.7-.1 4.2-2.08 4.83v.78h9.77v-.78c-1.87-.52-2.13-1.92-2.13-4.83v-11.9c1.77-3.28 4.58-4.16 4.48-3.43-.06.78.26 1.61.88 2.29a3.42 3.42 0 0 0 4.78-.06 3.35 3.35 0 0 0 0-4.72 4.19 4.19 0 0 0-3.58-.84zm20.26 19.6l.68.4a7.73 7.73 0 0 1-6.92 4.74c-3.9 0-6.3-1.67-6.3-7.95V13.35h-2.6l-.15-.78h2.76V5.4l5.51-.88v8.05h6.2l-.22.78h-5.98v15.59c0 3.53 1.35 4.99 3.9 4.99 1.51 0 2.7-1.1 3.12-2.03zm12.15 13.19c-1.22 3.18-2.64 4.5-3.5 5.17-.82.68-2.42.99-3.5.47-1.6-.73-2.26-2.6-1.6-4.22a3.13 3.13 0 0 1 4.18-1.62c.82.37 1.33 1.1 1.54 1.88.2.68 1.44.08 2.35-2.45.24.08.5.13.74.22l-.21.55zm2.01-6.06l-.85-.2.3-.85.19-.53c-4.68-10.58-9.67-21.3-9.67-21.3-.93-2.2-2.68-2.3-3.45-2.35v-.73h11.37v.73c-2.98 0-1.44 3.49-1.44 3.49l5.92 12.81 3.08-8.23s3.3-8.13-2.67-8.07v-.73H186v.73c-1.44 0-3.5.3-6.64 8.23l-6.17 17z"></path></g></svg></a>
</div>
<button type="button" aria-label="menu" class="lg:hidden focus:outline-none flex px-6 py-2 items-center text-gray-800" @click="open = true" :class="{ 'hidden': open === true }">
<svg class="fill-current w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
</button>
<button type="button" aria-label="close menu" class="lg:hidden focus:outline-none flex px-6 py-2 items-center text-gray-800" @click="open = false" :class="{ 'hidden': open === false }">
<svg class="fill-current w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"></path></svg>
</button>
<nav class="hidden text-gray-800 border-t border-gray-300 w-full mt-5 pt-2 lg:pt-0 lg:mt-0 lg:border-0 lg:order-none lg:block lg:flex-1" :class="{ 'hidden': open === false }">
<ul class="lg:flex items-center justify-end lg:-mx-3 xl:-mx-4">
<li class="lg:mx-3 xl:mx-4"><a href="/properties" class="sm:hover:text-teal-400 py-2 block">Properties</a></li>
<li class="lg:mx-3 xl:mx-4"><a href="/invest-in-lisbon" class="sm:hover:text-teal-400 py-2 block">Invest in Lisbon</a></li>
<li class="lg:mx-3 xl:mx-4"><a href="/golden-visa-portugal" class="sm:hover:text-teal-400 py-2 block">Golden Visa Lisbon</a></li>
<li class="lg:mx-3 xl:mx-4"><a href="/non-habitual-residency" class="sm:hover:text-teal-400 py-2 block">Non-Habitual Residency</a></li>
<li class="lg:mx-3 xl:mx-4"><a href="/about" class="sm:hover:text-teal-400 py-2 block">About us</a></li>
<li class="lg:mx-3 xl:mx-4"><a href="/contacts" class="sm:hover:text-teal-400 py-2 block">Contacts</a></li>
</ul>
</nav>
</div>
</header>
<div class="relative bg-gray-600 flex items-center justify-center overflow-hidden">
<figure id="slide-1" class="w-full h-full absolute top-0 left-0 bg-cover bg-center" style="background-image:url(/assets/imgs/property-lisbon-slide-1.jpg)"></figure>
<figure id="slide-2" class="w-full h-full absolute top-0 left-0 bg-cover bg-center" style="background-image:url(/assets/imgs/property-lisbon-slide-2.jpg)"></figure>
<figure id="slide-3" class="w-full h-full absolute top-0 left-0 bg-cover bg-center" style="background-image:url(/assets/imgs/property-lisbon-slide-3.jpg)"></figure>
<figure id="slide-4" class="w-full h-full absolute top-0 left-0 bg-cover bg-center" style="background-image:url(/assets/imgs/property-lisbon-slide-4.jpg)"></figure>
<div class="absolute w-full h-full bg-gray-900 opacity-50"></div>
<div class="container lg:px-4 w-11/12 xl:w-8/12 mx-auto my-8 lg:my-32">
<h1 class="font-serif font-bold leading-none text-2xl sm:text-4xl mb-6 sm:mb-8 text-white text-center relative z-10">Want to buy a<br class="block sm:hidden"> property in Lisbon?</h1>
<div x-data="{ open: false }">
<button @click="open = true" class="md:hidden focus:outline-none py-3 px-8 table bg-teal-300 border border-teal-300 text-teal-900 font-semibold rounded mx-auto relative z-10">Search a Property in Lisbon</button>
<form method="GET" action="/properties" :class="{ 'hidden': open === false }" @click.away="open = false" class="hidden mt-7 md:mt-0 md:block w-full p-6 rounded-lg shadow-2xl relative" style="background:rgba(45, 55, 72, 0.9)">
<div class="flex flex-col md:flex-row flex-wrap -mx-2 z-10 relative">
<label class="block w-full md:w-1/4 px-2 mb-3">
<span class="text-sm font-semibold text-gray-400">Location</span>
<select name="location" class="text-base sm:text-sm mt-1 form-select block w-full text-white shadow focus:bg-gray-600">
<option value="">All locations</option>
<option value="Ajuda">Ajuda</option>
<option value="Alcântara">Alcântara</option>
<option value="Alfama">Alfama</option>
<option value="Anjos">Anjos</option>
<option value="Arroios">Arroios</option>
 <option value="Avenida da Liberdade">Avenida da Liberdade</option>
<option value="Avenidas Novas">Avenidas Novas</option>
<option value="Bairro Alto">Bairro Alto</option>
<option value="Baixa de Lisboa">Baixa de Lisboa</option>
<option value="Belém">Belém</option>
<option value="Benfica">Benfica</option>
<option value="Cais do Sodré">Cais do Sodré</option>
<option value="Campo de Ourique">Campo de Ourique</option>
<option value="Chiado">Chiado</option>
<option value="Estoril">Estoril</option>
<option value="Graça">Graça</option>
<option value="Intendente">Intendente</option>
<option value="Lapa">Lapa</option>
<option value="Marvila">Marvila</option>
<option value="Porto">Porto</option>
<option value="Príncipe Real">Príncipe Real</option>
<option value="Quinta Do Lago">Quinta Do Lago</option>
<option value="Santa Catarina">Santa Catarina</option>
<option value="Santos">Santos</option>
<option value="Sintra">Sintra</option>
<option value="São Bento">São Bento</option>
</select>
</label>
<label class="block w-full md:w-1/4 px-2 mb-3">
<span class="text-sm font-semibold text-gray-400">Property Type</span>
<select name="type" class="text-base sm:text-sm mt-1 form-select block w-full text-white shadow focus:bg-gray-600">
<option value="">All types</option>
<option value="Apartment">Apartment</option>
<option value="Building for renovation">Building for renovation</option>
<option value="Shop">Shop</option>
<option value="Villa">Villa</option>
</select>
</label>
<label class="block w-full md:w-1/4 px-2 mb-3">
<span class="text-sm font-semibold text-gray-400">Bedrooms</span>
<select name="bedrooms" class="text-base sm:text-sm mt-1 form-select block w-full text-white shadow focus:bg-gray-600">
<option value="">All bedrooms</option>
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>
</label>
<label class="block w-full md:w-1/4 px-2">
<span class="text-sm font-semibold text-gray-400">Price Range</span>
<select name="price" class="text-base sm:text-sm mt-1 form-select block w-full text-white shadow focus:bg-gray-600">
<option value="">All prices</option>
<option value="1">less than 200.000€</option>
<option value="2">200.000€ up to 300.000€</option>
<option value="3">300.000€ up to 400.000€</option>
<option value="4">400.000€ up to 500.000€</option>
<option value="5">500.000€ up to 600.000€</option>
<option value="6">600.000€ up to 700.000€</option>
<option value="7">700.000€ up to 800.000€</option>
<option value="8">more than 800.000€</option>
</select>
</label>
</div>
<div class="w-full mt-3 z-10 relative">
<span class="block text-sm font-semibold text-gray-400">Amenities</span>
<div class="sm:flex sm:-mx-2 sm:flex-wrap text-sm">
<div class="inline-block mr-2 sm:mr-1">
<label class="mt-2 flex items-center sm:w-1/4 sm:px-2 lg:w-1/2 xl:w-full">
<input type="checkbox" name="balcony" value="1" class="form-checkbox bg-gray-700">
<span class="ml-2 text-white">Balcony</span>
</label>
</div>
<div class="inline-block mr-2 sm:mr-1">
<label class="mt-2 flex items-center sm:w-1/4 sm:px-2 lg:w-1/2 xl:w-full">
<input type="checkbox" name="pool" value="1" class="form-checkbox bg-gray-700">
<span class="ml-1 text-white">Pool</span>
</label>
</div>
<div class="inline-block mr-2 sm:mr-1">
<label class="mt-2 flex items-center sm:w-1/4 sm:px-2 lg:w-1/2 xl:w-full">
<input type="checkbox" name="elevator" value="1" class="form-checkbox bg-gray-700">
<span class="ml-2 text-white">Elevator</span>
</label>
</div>
<div class="inline-block mr-2 sm:mr-1">
<label class="mt-2 flex items-center sm:w-1/4 sm:px-2 lg:w-1/2 xl:w-full">
<input type="checkbox" name="parking" value="1" class="form-checkbox bg-gray-700">
<span class="ml-2 text-white">Parking</span>
</label>
</div>
<div class="inline-block mr-2 sm:mr-1">
<label class="mt-2 flex items-center sm:w-1/4 sm:px-2 lg:w-1/2 xl:w-full">
<input type="checkbox" name="garden" value="1" class="form-checkbox bg-gray-700">
<span class="ml-2 text-white">Garden</span>
</label>
</div>
<div class="inline-block mr-2 sm:mr-1">
<label class="mt-2 flex items-center sm:w-1/4 sm:px-2 lg:w-1/2 xl:w-full">
<input type="checkbox" name="golden-visa" value="1" class="form-checkbox bg-gray-700">
<span class="ml-2 text-white whitespace-no-wrap">Golden Visa</span>
</label>
</div>
<div class="inline-block mr-2 sm:mr-1">
<label class="mt-2 flex items-center sm:w-1/4 sm:px-2 lg:w-1/2 xl:w-full">
<input type="checkbox" name="garage" value="1" class="form-checkbox bg-gray-700">
<span class="ml-2 text-white">Garage</span>
</label>
</div>
<div class="inline-block">
<label class="mt-2 flex items-center sm:w-1/4 sm:px-2 lg:w-1/2 xl:w-full">
<input type="checkbox" name="terrace" value="1" class="form-checkbox bg-gray-700">
<span class="ml-2 text-white">Terrace</span>
</label>
</div>
</div>
</div>
<input type="hidden" name="order" value="1">
<button type="submit" class="focus:outline-none duration-100 transition-colors mt-5 block w-full bg-teal-400 hover:bg-teal-300 font-semibold text-teal-900 px-4 py-2 rounded xl:block xl:w-full">Search Property</button>
</form>
</div>
</div>
</div>
<div class="container mx-auto px-4">
 <div class="max-w-4xl mx-auto">
<h2 class="text-center text-3xl sm:text-4xl font-serif mt-8 sm:mt-16 text-gray-800 mb-4 leading-tight">Connecting People to Property in Lisbon</h2>
<p class="text-center text-gray-600 mb-0">An independent real estate agent, <strong>Property Lisbon</strong> provides full support to national and international clients aiming to invest in real estate in Lisbon. The Portuguese capital has excellent investment opportunities waiting for you, carefully selected by a professional team with knowledgeable expertise in the Lisbon real estate market.</p>
</div>
<ul class="my-8 sm:my-16 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1632/five-bedroom-apartment-with-terrace-and-balcony-for-sale-in-belem-lisboa">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/development/images/27c14eb5-2687-4c52-af9b-c60b3919a904.jpg?w=450" srcset="https://i.propertylisbon.pt/development/images/27c14eb5-2687-4c52-af9b-c60b3919a904.jpg?w=450 1x, https://i.propertylisbon.pt/development/images/27c14eb5-2687-4c52-af9b-c60b3919a904.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Five-Bedroom Apartment with Terrace and Balcony for Sale in Belém, Lisboa">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">5 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 245m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Five-Bedroom Apartment with Terrace and Balcony for Sale in Belém, Lisboa</h4>
<span class="text-teal-500 text-sm font-semibold">
3,100,000€
<span class="text-gray-400 mx-2"> • </span><span class="inline-block leading-none text-orange-500 font-semibold text-sm">Premium</span>
</span>
</div>
</div>
</a>
</li>
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1114/five-bedroom-villa-with-garden-and-garage-for-sale-in-graca-lisbon">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/property/images/1550073751534-127f99dc-4fd6-4f4d-8801-940a7c3a3e44.jpg?w=450" srcset="https://i.propertylisbon.pt/property/images/1550073751534-127f99dc-4fd6-4f4d-8801-940a7c3a3e44.jpg?w=450 1x, https://i.propertylisbon.pt/property/images/1550073751534-127f99dc-4fd6-4f4d-8801-940a7c3a3e44.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Five-Bedroom Villa with Garden and Garage for Sale in Graça, Lisbon">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">5 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 391m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Five-Bedroom Villa with Garden and Garage for Sale in Graça, Lisbon</h4>
<span class="text-teal-500 text-sm font-semibold">
1,850,000€
</span>
</div>
</div>
</a>
</li>
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1884/four-bedroom-apartment-with-four-balconies-for-sale-in-the-heart-of-alcantara-">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/development/images/daa6ec93-df93-4724-bba3-67bd622f7cc2.jpg?w=450" srcset="https://i.propertylisbon.pt/development/images/daa6ec93-df93-4724-bba3-67bd622f7cc2.jpg?w=450 1x, https://i.propertylisbon.pt/development/images/daa6ec93-df93-4724-bba3-67bd622f7cc2.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Four-Bedroom Apartment with four balconies for sale in the heart of Alcântara.">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">4 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 222m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Four-Bedroom Apartment with four balconies for sale in the heart of Alcântara.</h4>
<span class="text-teal-500 text-sm font-semibold">
1,235,520€
</span>
</div>
</div>
</a>
</li>
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1846/four-bedroom-apartment-with-terrace-and-pool-for-sale-in-estoril-cascais">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/property/images/43344ce0-277e-44a4-b077-384155484afc.jpg?w=450" srcset="https://i.propertylisbon.pt/property/images/43344ce0-277e-44a4-b077-384155484afc.jpg?w=450 1x, https://i.propertylisbon.pt/property/images/43344ce0-277e-44a4-b077-384155484afc.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Four-Bedroom Apartment with Terrace and Pool for sale in Estoril, Cascais">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">4 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 211m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Four-Bedroom Apartment with Terrace and Pool for sale in Estoril, Cascais</h4>
<span class="text-teal-500 text-sm font-semibold">
2,419,000€
<span class="text-gray-400 mx-2"> • </span><span class="inline-block leading-none text-orange-500 font-semibold text-sm">Premium</span>
</span>
</div>
</div>
</a>
</li>
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1845/four-bedroom-apartment-with-balcony-for-sale-in-estoril-cascais">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/property/images/9e277dfe-480e-4b0a-af7d-7976ba1c2df9.jpg?w=450" srcset="https://i.propertylisbon.pt/property/images/9e277dfe-480e-4b0a-af7d-7976ba1c2df9.jpg?w=450 1x, https://i.propertylisbon.pt/property/images/9e277dfe-480e-4b0a-af7d-7976ba1c2df9.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Four-Bedroom Apartment with Balcony for sale in Estoril, Cascais">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">4 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 228m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Four-Bedroom Apartment with Balcony for sale in Estoril, Cascais</h4>
<span class="text-teal-500 text-sm font-semibold">
1,714,000€
</span>
</div>
</div>
</a>
</li>
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1842/four-bedroom-apartment-with-swimming-pool-sale-in-estoril-cascais">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/property/images/7a6977bf-b88f-4653-838c-98c7f54fca5b.jpg?w=450" srcset="https://i.propertylisbon.pt/property/images/7a6977bf-b88f-4653-838c-98c7f54fca5b.jpg?w=450 1x, https://i.propertylisbon.pt/property/images/7a6977bf-b88f-4653-838c-98c7f54fca5b.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Four-Bedroom Apartment with Swimming Pool sale in Estoril, Cascais">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">4 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 225m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Four-Bedroom Apartment with Swimming Pool sale in Estoril, Cascais</h4>
<span class="text-teal-500 text-sm font-semibold">
1,946,000€
</span>
</div>
</div>
</a>
</li>
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1828/four-bedroom-apartment-totally-refurbished-for-sale-in-arroios-lisbon">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/property/images/afc97c9e-49a0-4062-a468-c877e9eb1ace.jpg?w=450" srcset="https://i.propertylisbon.pt/property/images/afc97c9e-49a0-4062-a468-c877e9eb1ace.jpg?w=450 1x, https://i.propertylisbon.pt/property/images/afc97c9e-49a0-4062-a468-c877e9eb1ace.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Four-Bedroom Apartment Totally Refurbished for Sale in Arroios, Lisbon">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">4 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 98m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Four-Bedroom Apartment Totally Refurbished for Sale in Arroios, Lisbon</h4>
<span class="text-teal-500 text-sm font-semibold">
550,000€
</span>
</div>
</div>
</a>
</li>
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1711/four-bedroom-duplex-apartment-with-private-pool-in-lapa-lisbon">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/property/images/0fe746a0-f00d-4c69-9f1a-f5d0306bcf8a.jpg?w=450" srcset="https://i.propertylisbon.pt/property/images/0fe746a0-f00d-4c69-9f1a-f5d0306bcf8a.jpg?w=450 1x, https://i.propertylisbon.pt/property/images/0fe746a0-f00d-4c69-9f1a-f5d0306bcf8a.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Four-Bedroom Duplex Apartment with Private Pool in Lapa, Lisbon">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">4 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 377m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Four-Bedroom Duplex Apartment with Private Pool in Lapa, Lisbon</h4>
<span class="text-teal-500 text-sm font-semibold">
2,300,000€
<span class="text-gray-400 mx-2"> • </span><span class="inline-block leading-none text-orange-500 font-semibold text-sm">Premium</span>
</span>
</div>
</div>
</a>
</li>
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1701/four-bedroom-apartment-with-view-for-sale-in-principe-real-lisbon">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/property/images/31d9b616-2e5b-4ca4-a3b5-a6fbe0d781e1.jpg?w=450" srcset="https://i.propertylisbon.pt/property/images/31d9b616-2e5b-4ca4-a3b5-a6fbe0d781e1.jpg?w=450 1x, https://i.propertylisbon.pt/property/images/31d9b616-2e5b-4ca4-a3b5-a6fbe0d781e1.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Four-Bedroom Apartment with view for sale in Príncipe Real, Lisbon">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">4 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 168m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Four-Bedroom Apartment with view for sale in Príncipe Real, Lisbon</h4>
<span class="text-teal-500 text-sm font-semibold">
940,000€
</span>
</div>
</div>
</a>
</li>
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1586/four-bedroom-apartment-with-balcony-for-sale-in-principe-real-lisbon">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/property/images/a7c2062c-d9f1-4815-beaf-b7972312350f.jpg?w=450" srcset="https://i.propertylisbon.pt/property/images/a7c2062c-d9f1-4815-beaf-b7972312350f.jpg?w=450 1x, https://i.propertylisbon.pt/property/images/a7c2062c-d9f1-4815-beaf-b7972312350f.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Four-Bedroom Apartment with Balcony for Sale in Príncipe Real, Lisbon">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">4 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 220m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Four-Bedroom Apartment with Balcony for Sale in Príncipe Real, Lisbon</h4>
<span class="text-teal-500 text-sm font-semibold">
2,565,000€
<span class="text-gray-400 mx-2"> • </span><span class="inline-block leading-none text-orange-500 font-semibold text-sm">Premium</span>
</span>
</div>
</div>
</a>
</li>
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1584/four-bedroom-apartment-with-pool-for-sale-in-beloura-sintra">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/development/images/ff2f1359-2f35-445d-9859-823e7cc2bcf1.jpg?w=450" srcset="https://i.propertylisbon.pt/development/images/ff2f1359-2f35-445d-9859-823e7cc2bcf1.jpg?w=450 1x, https://i.propertylisbon.pt/development/images/ff2f1359-2f35-445d-9859-823e7cc2bcf1.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Four-Bedroom Apartment with Pool for Sale in Beloura, Sintra">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">4 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 308m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Four-Bedroom Apartment with Pool for Sale in Beloura, Sintra</h4>
<span class="text-teal-500 text-sm font-semibold">
830,000€
</span>
</div>
</div>
</a>
</li>
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1582/four-bedroom-apartment-with-pool-for-sale-in-beloura-sintra">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/development/images/97467cc4-b2b9-48c7-a103-df460778d6db.jpg?w=450" srcset="https://i.propertylisbon.pt/development/images/97467cc4-b2b9-48c7-a103-df460778d6db.jpg?w=450 1x, https://i.propertylisbon.pt/development/images/97467cc4-b2b9-48c7-a103-df460778d6db.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Four-Bedroom Apartment with Pool for Sale in Beloura, Sintra">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">4 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 208m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Four-Bedroom Apartment with Pool for Sale in Beloura, Sintra</h4>
<span class="text-teal-500 text-sm font-semibold">
660,000€
</span>
</div>
</div>
</a>
</li>
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1579/four-bedroom-apartment-with-private-garden-for-sale-in-beloura-sintra">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/development/images/09c0414e-8ea4-428b-beb4-40a4b2eaf28d.jpg?w=450" srcset="https://i.propertylisbon.pt/development/images/09c0414e-8ea4-428b-beb4-40a4b2eaf28d.jpg?w=450 1x, https://i.propertylisbon.pt/development/images/09c0414e-8ea4-428b-beb4-40a4b2eaf28d.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Four-Bedroom Apartment with Private Garden for Sale in Beloura, Sintra">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">4 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 208m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Four-Bedroom Apartment with Private Garden for Sale in Beloura, Sintra</h4>
<span class="text-teal-500 text-sm font-semibold">
760,000€
</span>
</div>
</div>
</a>
</li>
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1549/four-bedroom-apartment-with-two-suites-for-sale-in-belem-lisbon">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/property/images/75572c4f-baea-4d9f-a659-a0e9b50ff651.jpg?w=450" srcset="https://i.propertylisbon.pt/property/images/75572c4f-baea-4d9f-a659-a0e9b50ff651.jpg?w=450 1x, https://i.propertylisbon.pt/property/images/75572c4f-baea-4d9f-a659-a0e9b50ff651.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Four-Bedroom Apartment with Two Suites for Sale in Belém, Lisbon">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">4 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 196m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Four-Bedroom Apartment with Two Suites for Sale in Belém, Lisbon</h4>
<span class="text-teal-500 text-sm font-semibold">
1,350,000€
</span>
</div>
</div>
</a>
</li>
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1520/four-bedroom-duplex-apartment-with-swimming-pool-for-sale-in-marvila-lisbon">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/property/images/73d3c87f-0872-411a-b7a5-0eb6dd881ffb.jpg?w=450" srcset="https://i.propertylisbon.pt/property/images/73d3c87f-0872-411a-b7a5-0eb6dd881ffb.jpg?w=450 1x, https://i.propertylisbon.pt/property/images/73d3c87f-0872-411a-b7a5-0eb6dd881ffb.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Four-Bedroom Duplex Apartment with Swimming Pool for Sale in Marvila, Lisbon">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">4 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 212m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Four-Bedroom Duplex Apartment with Swimming Pool for Sale in Marvila, Lisbon</h4>
<span class="text-teal-500 text-sm font-semibold">
1,200,000€
</span>
</div>
</div>
</a>
</li>
<li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
<a href="/property/1411/four-bedroom-apartment-totally-refurbished-for-sale-in-lisbon-anjos">
<div class="relative flex-shrink-0">
<img loading="lazy" src="https://i.propertylisbon.pt/property/images/50d9d82d-d097-4f0e-a881-693cdbfc2bdb.jpg?w=450" srcset="https://i.propertylisbon.pt/property/images/50d9d82d-d097-4f0e-a881-693cdbfc2bdb.jpg?w=450 1x, https://i.propertylisbon.pt/property/images/50d9d82d-d097-4f0e-a881-693cdbfc2bdb.jpg?w=450&dpr=2 2x" width="352" height="256" class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md object-cover" alt="Four Bedroom apartment totally refurbished for sale in Lisbon, Anjos">
</div>
<div class="relative px-4 -mt-12 text-left">
<div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">
<div class="text-xs text-gray-600 font-semibold">4 <span class="uppercase">Beds</span> <span class="text-gray-400 text-sm mx-2"> • </span> 150m2</div>
<h4 class="truncate text-gray-900 font-bold text-sm leading-tight my-1">Four Bedroom apartment totally refurbished for sale in Lisbon, Anjos</h4>
<span class="text-teal-500 text-sm font-semibold">
690,000€
</span>
</div>
</div>
</a>
</li>
</ul>
<a href="/properties" class="focus:outline-none duration-100 transition-colors py-3 px-8 sm:px-16 table bg-teal-300 sm:hover:bg-teal-200 border border-teal-300 text-teal-900 font-semibold rounded mx-auto mb-8 sm:mb-16">See all Properties in Lisbon</a>
<hr class="border-t border-gray-300 border-dashed">
<div class="max-w-3xl mx-auto mt-4 sm:mt-12 pt-2 mb-12 sm:mb-16">
<h3 class="text-center text-2xl sm:text-4xl font-serif text-gray-800 mb-4 leading-tight">Real Estate Lisbon</h3>
<p class="text-center text-gray-600 mb-6">Real estate experts in the Lisbon area, <strong>Property Lisbon</strong> guarantees security and efficiency when purchasing a property. With an experienced, multicultural and talented team, we provide quality services in the search, selection, purchase and sale of real estate properties in the city of Lisbon.</p>
<a href="/contacts" class="duration-100 transition-colors py-3 px-8 sm:px-16 bg-gray-800 sm:hover:bg-gray-900 text-white font-semibold rounded table mx-auto">Contact us and find the right property for you</a>
</div>
</div>
<footer class="bg-gray-900 pt-12">
<div class="container mx-auto px-4 flex items-center flex-col lg:flex-row text-gray-400 text-sm">
<div class="mb-8 lg:mb-0 lg:w-1/3">
<a href="/" class="focus:outline-none block hover:opacity-75"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 56" height="36"><g fill-rule="evenodd"><path fill="#4FD1C5" d="M214.16 11.69c0-5.3-2.46-7.95-7.39-7.95-2.13 0-3.98.66-5.53 2a13.12 13.12 0 0 0-3.6 5.13 69.46 69.46 0 0 0-2.5 7.58c-.8 2.96-1.53 5.9-2.16 8.8-1.57 7.18-3.8 13.16-6.7 17.94.88.4 2.22 1.03 4.01 1.9 1.8.88 3.24 1.56 4.33 2.06 3.06 1.4 6.56 2.52 8.87 2.52 1.02 0 1.98-.26 2.87-.77a7.03 7.03 0 0 0 2.06-1.69 31.12 31.12 0 0 0 1.87-2.65l1.83.97c-2.13 4.1-4.58 6.82-6.96 7.8-1.06.45-2.43.67-4.1.67-1.68 0-4.35-.72-6.35-1.33-2-.6-4.24-1.47-6.73-2.6a84.09 84.09 0 0 0-5.26-2.26 22.65 22.65 0 0 1-7.44 4.16 30.96 30.96 0 0 1-10.38 1.6 12.6 12.6 0 0 1-5.35-1.1c-3.03-1.43-4.55-3.24-4.55-5.44 0-2.19.67-4.04 2-5.54 2.55-2.86 6.08-4.3 10.59-4.3 3.22 0 6.63.69 10.22 2.04 1.31.52 3.02 1.23 5.13 2.15a68.88 68.88 0 0 0 2.66-10.14c.73-3.82 1.4-6.98 2.04-9.48.63-2.5 1.27-4.8 1.94-6.92.67-2.1 1.54-4.15 2.62-6.15s2.28-3.7 3.58-5.1c2.9-3.06 6.65-4.59 11.28-4.59 3.52 0 6.39 1.04 8.6 3.1C217.9 6.19 219 9.1 219 12.84c0 2.79-.55 5.5-1.66 8.12a24.02 24.02 0 0 1-4.38 6.93c-1.82 2-3.93 3.69-6.31 5.07a22.42 22.42 0 0 1-7.4 2.74l-.52-2.04a17.62 17.62 0 0 0 8-4.53 23.67 23.67 0 0 0 5.5-8.02 24.15 24.15 0 0 0 1.93-9.41zm-57 36.85c0 1.96 1.19 3.28 3.58 3.94a20.9 20.9 0 0 0 14.79-1.3 11.12 11.12 0 0 0 4.2-3.23c-4.87-3.35-9.3-5.02-13.28-5.02-6.2 0-9.3 1.87-9.3 5.61zm60.51 5.41a3.73 3.73 0 0 1-.89-2.64 17 17 0 0 1 .87-4.57 91.07 91.07 0 0 1 1.74-5.26c.58-1.57.87-2.62.87-3.15 0-.53-.17-.8-.52-.8-.86 0-2.5 1.7-4.42 5.1l-2.16-1.15c3.63-6.1 6.88-9.44 9.91-9.44 2.07 0 3.11 1.3 3.11 3.91 0 .76-.25 1.98-.74 3.65l-2.66 7.6a5.5 5.5 0 0 0-.41 1.94c0 .58.22.86.67.86.83 0 2.38-1.54 4.62-4.64l1.56 1.44a19.1 19.1 0 0 1-4.76 5.9c-1.84 1.47-3.28 2.21-4.33 2.21a3.19 3.19 0 0 1-2.46-.96zm11.64-30.22a3.22 3.22 0 0 1-2.66 1.23c-1.12 0-1.95-.34-2.51-1.03a3.98 3.98 0 0 1-.84-2.6c0-1.04.35-1.97 1.04-2.78a3.36 3.36 0 0 1 2.67-1.21c1.1 0 1.92.35 2.46 1.06.55.71.82 1.57.82 2.58 0 1-.33 1.92-.98 2.75zm2 28.32a3.8 3.8 0 0 1-1.02-2.56c0-.94.26-1.71.77-2.33a2.5 2.5 0 0 1 2.02-.92c.84 0 1.59.25 2.23.76.65.5.97 1.22.97 2.14 0 .92-.56 1.69-1.68 2.3.92.81 2.33 1.22 4.23 1.22 4.12 0 6.17-1.18 6.17-3.54 0-1.48-1.3-2.66-3.9-3.54a93.85 93.85 0 0 1-3.23-1.18 7.97 7.97 0 0 1-2.83-1.85 4.46 4.46 0 0 1-1.32-2.95c0-1.67.55-3.08 1.64-4.24 2.07-2.21 5.16-3.32 9.28-3.32 2.02 0 3.8.39 5.36 1.16 1.56.78 2.34 1.78 2.34 3 0 1.24-.31 2.12-.93 2.66a3.2 3.2 0 0 1-2.17.82c-.83 0-1.53-.23-2.1-.69a2.3 2.3 0 0 1-.86-1.9c0-.8.47-1.5 1.42-2.1-.58-.42-1.59-.63-3.03-.63-1.43 0-2.72.22-3.87.65-1.14.43-1.71 1.01-1.71 1.75s.42 1.35 1.26 1.85c.84.49 1.85.94 3.05 1.36 1.19.42 2.38.9 3.57 1.44 1.2.54 2.21 1.32 3.05 2.32.84 1.01 1.26 2.25 1.26 3.73a5.6 5.6 0 0 1-1.79 4.02c-2.26 2.29-5.35 3.43-9.27 3.43-2.07 0-3.9-.28-5.5-.85a8.12 8.12 0 0 1-3.4-2zm38.8 1.5a16.26 16.26 0 0 1-6.87 1.36c-2.6 0-4.79-.78-6.59-2.33a7.47 7.47 0 0 1-2.7-5.91c0-.28.05-.78.15-1.52 1-6.78 2.83-14.2 5.47-22.28 2.64-8.07 5.48-14.09 8.51-18.06h6.24c-1.83 2.07-4.03 6.47-6.58 13.2a163.04 163.04 0 0 0-6.19 19.9c2.96-3.95 6.29-5.92 9.98-5.92 2.3 0 4.07.78 5.3 2.35a8.44 8.44 0 0 1 1.86 5.37c0 2.03-.33 3.88-.99 5.57a17.04 17.04 0 0 1-2.8 4.71 13.4 13.4 0 0 1-4.8 3.55zm-9.95-8.24a16.1 16.1 0 0 0-.3 3c0 .96.36 1.94 1.07 2.93.7 1 1.79 1.5 3.25 1.5s2.8-.64 4.01-1.92c2.34-2.47 3.51-5.75 3.51-9.81 0-1.67-.28-3.04-.84-4.1a2.75 2.75 0 0 0-2.6-1.6c-1.16 0-2.62.94-4.36 2.83a16.5 16.5 0 0 0-3.74 7.17zm20.15.23c0-1.84.44-3.62 1.32-5.33.89-1.7 2.03-3.15 3.44-4.33 3.1-2.56 6.27-3.84 9.5-3.84 3.22 0 5.86.87 7.92 2.62a8.23 8.23 0 0 1 3.1 6.55c0 2.62-.72 4.97-2.14 7.06a14.54 14.54 0 0 1-5.62 4.89 16.74 16.74 0 0 1-7.61 1.75c-2.76 0-5.1-.88-7.02-2.64a8.7 8.7 0 0 1-2.9-6.73zm11.8 7.2a5.3 5.3 0 0 0 3.21-1.12c1-.75 1.76-1.72 2.28-2.91a17.26 17.26 0 0 0 1.53-7.08c0-2.43-.45-4.28-1.34-5.53a4.37 4.37 0 0 0-3.79-1.88c-1.63 0-3.25 1.07-4.85 3.2-1.6 2.14-2.4 4.86-2.4 8.16 0 4.77 1.8 7.15 5.36 7.15zm26.76-8.79c5.08-7.94 9.64-11.91 13.68-11.91 1.37 0 2.39.42 3.07 1.25.68.84 1.02 1.9 1.02 3.18 0 1.28-.56 3.49-1.7 6.64-1.13 3.14-1.7 5.1-1.7 5.84 0 .75.19 1.13.55 1.13.5 0 1.2-.51 2.16-1.53.95-1.02 1.79-2.1 2.52-3.23L340 46.8c-1.46 2.68-3.06 4.7-4.8 6.06-1.74 1.37-3.15 2.05-4.23 2.05a3.13 3.13 0 0 1-2.54-1.09 4.48 4.48 0 0 1-.91-2.97c0-1.25.49-3.3 1.47-6.14.99-2.84 1.48-4.86 1.48-6.05 0-1.2-.4-1.79-1.2-1.79-.93 0-2.02.6-3.29 1.8a27.5 27.5 0 0 0-3.68 4.36c-1.9 2.76-3.84 5.93-5.8 9.52l-1 1.77h-5.14l1.13-3.47c2.12-6.4 3.18-10.18 3.18-11.38 0-1.19-.2-1.79-.59-1.79-.7 0-1.54.85-2.51 2.55-.22.4-.4.7-.55.94-.15.23-.31.52-.5.85l-.34.6-2.45-1.43c1.9-3.13 3.64-5.43 5.22-6.92 1.58-1.49 3.2-2.23 4.86-2.23.75 0 1.4.32 1.95.96.55.64.82 1.41.82 2.32 0 .91-.07 1.8-.22 2.68-.14.87-.3 1.6-.45 2.17a364.56 364.56 0 0 1-1.04 3.78z"></path><path fill="#fff" d="M9.88 20.16h1.4c5.73 0 10.36-.26 10.36-9.66C21.64.94 16.9.78 11.29.78h-1.4v19.38zm0 .78v8.52c0 6.08 2.91 6.34 5.67 6.34v.78H.1v-.78c2.4 0 3.44-2.03 3.44-6.29V6.18c0-3.37-1.1-5.4-3.54-5.4V0h11.29c10.35 0 17.47 1.56 17.47 10.5 0 8.93-7.12 10.44-17.47 10.44h-1.4zm35.2-8.63c-1.67.42-4.22 1.51-6.56 5.4v-5.6l-8.16 1.76v.78c2.13.78 2.6 1.56 2.6 3.33v12.99c0 2.7-.1 4.2-2.08 4.83v.78h9.78v-.78c-1.88-.52-2.14-1.92-2.14-4.83v-11.9c1.77-3.28 4.58-4.16 4.48-3.43-.05.78.26 1.61.88 2.29a3.42 3.42 0 0 0 4.79-.06 3.35 3.35 0 0 0 0-4.72 4.19 4.19 0 0 0-3.6-.84zM67 24.58c0-9.4-1.77-11.7-5.67-11.7-3.85 0-5.67 2.3-5.67 11.7 0 9.4 1.82 11.69 5.67 11.69 3.9 0 5.67-2.29 5.67-11.7zm6.55 0c0 6.8-4.27 12.47-12.22 12.47-7.9 0-12.17-5.67-12.17-12.47 0-6.86 4.26-12.47 12.17-12.47 7.95 0 12.22 5.6 12.22 12.47zm20.05.83c0-8.32-2.4-11.54-6.77-11.54-3.27 0-5.3 2.5-5.61 5.82v9.61c.36 5 3.22 6.97 6.19 6.97 3.64 0 6.19-2.76 6.19-10.86zm6.4-.63c0 8.21-5.36 12.27-12.49 12.27-2.5 0-4.68-.68-6.3-1.77v9.82c0 2.86.27 4 2.14 4.47v.78h-9.73v-.78c1.98-.57 2.08-1.82 2.08-4.47V17.5c0-1.8-.46-2.28-2.6-2.85v-.78l8.12-1.76v4.1c1.6-2.9 5.25-4.1 7.8-4.1 6.4 0 10.97 4.98 10.97 12.67zm7.36-1.45h11.14c0-7.07-2.76-10.44-5.41-10.44-3.02 0-5.73 4.67-5.73 10.44zm14.98 6.65l.73.36c-.67 2.55-3.7 6.7-10.24 6.7-6.6 0-11.29-5.81-11.29-12.3 0-7.49 4.94-12.63 11.75-12.63 6.82 0 10.61 3.84 10.61 12h-16.54c.32 6.02 3.18 8.78 6.92 9.35 3.02.47 6.92-.99 8.06-3.48zm16.43-17.67c-1.67.42-4.22 1.51-6.56 5.4v-5.6l-8.16 1.76v.78c2.13.78 2.6 1.56 2.6 3.33v12.99c0 2.7-.1 4.2-2.08 4.83v.78h9.77v-.78c-1.87-.52-2.13-1.92-2.13-4.83v-11.9c1.77-3.28 4.58-4.16 4.48-3.43-.06.78.26 1.61.88 2.29a3.42 3.42 0 0 0 4.78-.06 3.35 3.35 0 0 0 0-4.72 4.19 4.19 0 0 0-3.58-.84zm20.26 19.6l.68.4a7.73 7.73 0 0 1-6.92 4.74c-3.9 0-6.3-1.67-6.3-7.95V13.35h-2.6l-.15-.78h2.76V5.4l5.51-.88v8.05h6.2l-.22.78h-5.98v15.59c0 3.53 1.35 4.99 3.9 4.99 1.51 0 2.7-1.1 3.12-2.03zm12.15 13.19c-1.22 3.18-2.64 4.5-3.5 5.17-.82.68-2.42.99-3.5.47-1.6-.73-2.26-2.6-1.6-4.22a3.13 3.13 0 0 1 4.18-1.62c.82.37 1.33 1.1 1.54 1.88.2.68 1.44.08 2.35-2.45.24.08.5.13.74.22l-.21.55zm2.01-6.06l-.85-.2.3-.85.19-.53c-4.68-10.58-9.67-21.3-9.67-21.3-.93-2.2-2.68-2.3-3.45-2.35v-.73h11.37v.73c-2.98 0-1.44 3.49-1.44 3.49l5.92 12.81 3.08-8.23s3.3-8.13-2.67-8.07v-.73H186v.73c-1.44 0-3.5.3-6.64 8.23l-6.17 17z"></path></g></svg></a>
<p class="mt-4">Inspired by the idea of selling unique properties in the heart of Lisbon, we are a real estate company that wants to allow people to feel at home in our favorite city.</p>
</div>
<div class="w-full mb-8 lg:mb-0 lg:w-72 lg:ml-40">
<span class="text-gray-600 font-bold mb-3 block uppercase">For sale</span>
<ul>
<li class="mb-3"><a href="/apartments-in-lisbon" class="duration-100 transition-colors hover:text-teal-500">Apartments in Lisbon</a></li>
<li class="mb-3"><a href="/golden-visa-portugal" class="duration-100 transition-colors hover:text-teal-500">Golden Visa Lisbon</a></li>
<li><a href="/golden-visa-properties" class="duration-100 transition-colors hover:text-teal-500">Golden Visa Properties</a></li>
</ul>
</div>
<div class="w-full mb-8 lg:mb-0 lg:w-72">
<span class="text-gray-600 font-bold mb-3 block uppercase">Property Lisbon</span>
<ul>
<li class="mb-3"><a href="/about" class="duration-100 transition-colors hover:text-teal-500">About us</a></li>
<li class="mb-3"><a href="/invest-in-lisbon" class="duration-100 transition-colors hover:text-teal-500">Invest in Lisbon</a></li>
<li><a href="/contacts" class="duration-100 transition-colors hover:text-teal-500">Contacts</a></li>
</ul>
</div>
<div class="w-full lg:w-auto">
<span class="text-gray-600 font-bold mb-3 block uppercase">Connect</span>
<ul>
<li class="mb-3"><a href="https://www.facebook.com/PropertyLisbon/" target="_blank" rel="noopener" class="duration-100 transition-colors hover:text-teal-500">Facebook</a></li>
<li class="mb-3"><a href="https://www.instagram.com/propertylisbon/" target="_blank" rel="noopener" class="duration-100 transition-colors hover:text-teal-500">Instagram</a></li>
<li><a href="https://www.linkedin.com/showcase/property-lisbon/" target="_blank" rel="noopener" class="duration-100 transition-colors hover:text-teal-500">Linkedin</a></li>
</ul>
</div>
</div>
<div class="bg-black bg-opacity-25 py-6 mt-6 md:mt-12">
<span class="text-left sm:text-center block text-gray-600 text-xs tracking-wider px-4 leading-relaxed">© 2020 Property Lisbon - All rights reserved.<br>Developed by <a href="https://yeahworks.com" target="_blank" rel="noopener" class="underline hover:no-underline">Yeah Works</a>.</span>
</div>
</footer>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.12.0/dist/alpine.js" defer></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>

