<div class="container">
    <% if current_user != nil && current_user == @quest.creator %>
      <%= link_to edit_quest_path(@quest.id) do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
    <% end %>

  <h1><strong><%= @quest.title %></strong></h1>
    <h3><strong>Histoire de la quête</strong></h3>
      <%= @quest.description %>
    <h3><strong>Lieu de recherche</strong></h3>
    <%= @quest.location %>
    <h3><strong>Statut de la quête</strong></h3>
      <%= @quest.resolved ? "Résolue" : "Non résolue" %>
    <h3><strong>Créateur de la quête</strong></h3>
    <%= @quest.creator_id %>

<hr>
<br>
  <% if @quest.guild != nil %>
    <%= @quest.guild.name %>
  <% elsif @quest.creator == current_user %>
    <%= link_to 'Créer une guilde', new_quest_guild_path(@quest), class: "" %>
  <% else %>
    <%= link_to "Postuler pour rejoindre la guilde #{quest.guild.name}", new_quest_guild_path(@quest), class: "" %>
  <% end %>
<br>

  <%= link_to 'Retour', quests_path, class: "btn btn-primary" %>

</div>
