<div class="container">
    <% if current_user != nil && current_user == @quest.creator %>
      <%= link_to edit_quest_path(@quest.id) do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
    <% end %>

<!-- DESCRIPTION QUETE -->
  <h1><strong><%= @quest.title %></strong></h1>
    <h3><strong>Histoire de la quête</strong></h3>
      <%= @quest.description %>
    <h3><strong>Lieu de recherche</strong></h3>
    <%= @quest.location %>
    <h3><strong>Statut de la quête</strong></h3>
      <%= @quest.resolved ? "Résolue" : "Non résolue" %>
    <h3><strong>Créateur de la quête</strong></h3>
    <%= @quest.creator.username %>

<hr>
<br>

<!-- POST DES AVANCEES -->
  <% @quest.avancees.each do |avancee| %>
    <strong><%= avancee.title %></strong>
    <%= avancee.description %>
    <br>
    <hr>
  <% end %>


<hr>
<br>

<!--  INFO SI GUILDE ET LA REJOINDRE / TABLEAU DE BORD -->
<% if @quest.guild.present? %>
  <p>Guilde active sur la quête : <%= @quest.guild.name %></p>
  <% if current_user != nil && current_user.is_member_of?(@quest.guild) %>
    <%= link_to "Tableau de bord de guilde", guild_path(@quest.guild), class: "btn btn-warning" %>
  <% elsif current_user != nil && !current_user.has_apply_to?(@quest.guild) %>
    <%= link_to "Postuler pour les rejoindre", new_guild_member_path(@quest.guild), class: "btn btn-success" %>
  <% end %>
<% elsif @quest.creator == current_user %>
    <%= link_to 'Créer une guilde', new_quest_guild_path(@quest), class: "" %>

<% else %>
    <p>Pas de guilde active sur la quête</p>
<% end %>

<br>

<!-- RETOUR TOUTES LES QUESTS -->
  <%= link_to 'Retour', quests_path, class: "btn btn-primary mt-2" %>

</div>
