

      <div class="details-quest">

        <h2><strong><%= @quest.title %></strong>

          <div class="container">
            <%= @quest.title %>
            <%= @quest.description %>
            <%= @quest.location %>
            <%= @quest.resolved %>
            <%= @quest.creator_id %>
          </div>

      </div>
