<div class="container">
    <% if current_user != nil && current_user == @quest.creator %>
      <%= link_to edit_quest_path(@quest.id) do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
    <% end %>

  <h1><strong><%= @quest.title %></strong></h1>
    <h3><strong>Histoire de la quête</strong></h3>
      <%= @quest.description %>
    <h3><strong>Lieu de recherche</strong></h3>
    <%= @quest.location %>
    <h3><strong>Statut de la quête</strong></h3>
      <%= @quest.resolved ? "Résolue" : "Non résolue" %>
    <h3><strong>Créateur de la quête</strong></h3>
    <%= @quest.creator.username %>

<hr>
<br>
  <% if @quest.guild != nil && @quest.creator == current_user || current_user == @members %>
    <p>Guilde active sur la quête : <%= @quest.guild.name %></p>
    dashboard de guilde
    <% @quest.guild.members.each do |member| %>
      <%= member.user.username %>
      <% end %>
  <% elsif @quest.guild != nil && current_user != @members %>
    <p>Guilde active sur la quête : <%= @quest.guild.name %></p>
    <%= link_to "Postuler pour les rejoindre", new_guild_member_path(@quest.guild), class: "btn btn-success" %>

  <% elsif @quest.creator == current_user %>
    <%= link_to 'Créer une guilde', new_quest_guild_path(@quest), class: "" %>

  <% else %>
    <p>Pas de guilde active sur la quête</p>
  <% end %>
<br>

  <%= link_to 'Retour', quests_path, class: "btn btn-primary" %>

</div>
