
<div class=" md:p-10  md:px-0 items-center flex flex-col">

    <div class=" max-w-lg md:p-12 my-8 shadow-2xl body-bg rounded-md">
        <div class="text-center">
            <h2 class="font-bold text-3xl text-beige-la">S'inscrire</h2>
        </div>
            <p class="text-beige-la pt-2">Prêt à vivre des aventures totalement folles ?</p>


        <div class="mt-8 ">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

            <div class="flex flex-col" >
                <div class=" border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
                    <%= f.input :username,
                                required: true,
                                autofocus: true,
                                input_html: { autocomplete: "Votre pseudo" },
                                label: "Votre meilleur pseudo" %>
                </div>
                <div class=" border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
                    <%= f.input :bio,
                                required: true,
                                autofocus: true,
                                input_html: { autocomplete: "Présentez-vous" },
                                label: "Présentez-vous sous votre meilleur jour" %>
                </div>
                <div class=" border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
                    <%= f.input :email,
                                required: true,
                                autofocus: true,
                                input_html: { autocomplete: "Votre email" },
                                label: "Votre meilleure adresse email" %>
                </div>
                <div class=" border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
                    <%= f.input :password,
                                required: true,
                                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                input_html: { autocomplete: "Votre mot de passe" },
                                label: "Votre meilleur mot de passe" %>
                </div>
                <div class=" border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
                    <%= f.input :password_confirmation,
                                required: true,
                                input_html: { autocomplete: "Confirmez votre mot de passe" },
                                label: "Confirmez votre meilleur mot de passe" %>
                </div>

                <div class="flex flex-col items-center mt-4 px-12">
                  <%= f.button :submit, "Rejoindre l'aventure", class: 'button-create-quest' %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
