
<div class=" md:p-10  md:px-0 items-center flex flex-col">

    <div class=" max-w-lg md:p-12 my-8 shadow-2xl body-bg rounded-md">
        <div class="text-center">
            <h2 class="font-bold text-3xl text-beige-la">Créer une guilde</h2>
        </div>

        <div class="mt-8 ">

            <%= simple_form_for [@quest, @guild] do |f| %>


            <form class="flex flex-col" method="POST" action="#">
                <div class=" border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
                    <%= f.input :name, label: 'Nom de la guilde'  %>
                </div>

                <div class=" border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
                    <%= f.input :description, label: 'Description'  %>
                </div>

                <div class="flex flex-col items-center mt-4 px-12">
                  <% if @guild.new_record? %>
                    <%= f.button :submit, 'Créer', class: 'button-create-quest'  %>
                  <% else %>
                    <%= f.button :submit, 'Mettre à jour', class: 'button-create-quest'  %>
                  <% end %>
                </div>

                <% end %>
            </form>
        </div>
    </div>

</div>

