<div class="container">
  <h1>Les guildes dont je suis membre</h1>
  <br>
  <% @guilds.each do |guild| %>
    <% if current_user.is_member_of?(guild) %>
      <hr>
      <div class="group"><%= link_to guild_path(guild) do %>
        <div class="flex p-2 no-underline group-hover:text-black group-hover:bg-white">
          <%= cl_image_tag guild.quest.photo.key, height: 200, width: 200, crop: :fill %>
          <div class="p-2 my-auto text-base group-hover:text-black group-hover:bg-white">
            <p><strong><%= guild.quest.resolved ? "Quête résolue" : "Quête en cours" %></strong></p>
            <p><em><%= guild.name %></em> consacrée à la quête <strong><%= guild.quest.title %></strong></p>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
