
<!-- CARDS DEBUT -->
<div class="container  mb-40">
  <div class="max-w-4xl mx-auto">
    <h2 class="text-center text-3xl sm:text-4xl mt-8 sm:mt-16 text-gray-800 mb-4 leading-tight">Les guildes dont je suis membre 🤝</h2>
  </div>

  <ul class="my-8 sm:my-16 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8" id="text_decoration_card_quest">

    <% @quests.each do |quest| %>
    <% if current_user.is_member_of?(quest.guild) %>

    <li class="group transition-transform duration-200 transform sm:hover:-translate-y-1">
      <div class="relative flex-shrink-0">

        <%= link_to guild_path(quest.guild) do %>
        <% if quest.photo.attached? %>
          <div class="transition duration-200 group-hover:shadow-2xl w-full h-full rounded-lg shadow-md"><%= cl_image_tag quest.photo.key, height: 400, width: 400, crop: :fill %></div>
        <% else %>
          <div class="transition duration-200 group-hover:shadow-2xl h-64 w-full rounded-lg shadow-md"><%= image_tag "coins.jpg", height: 400, width: 400, crop: :fill %></div>
        <% end %>
      </div>

      <div class="relative px-4 -mt-12 text-left">
        <div class="bg-white rounded-lg px-4 py-3 transition duration-200 sm:group-hover:shadow-2xl shadow-md">

          <div class="text-xs text-gray-600 font-semibold"><span class="uppercase"><% if quest.resolved %>
            <p><i class="far fa-check-circle"></i> TERMINEE</p>
          <% else %>
            <p class="text-yellow-400"><i class="far fa-clock"></i> EN COURS</p>
          <% end %>
        </span></div>
            <p class=" text-gray-900 text-sm leading-tight my-1"><strong><%= quest.guild.name %></strong><em> - <%= quest.title %></em></p>
            <div class="flex item-center" >
              <% quest.guild.members.each do |member| %>
                <% if member.accepted? %>
                <div class="flex item-center px-1"><%= cl_image_tag member.user.photo.key, class: "avatar-mini"%></div>
                <% end %>
              <% end %>

            </div>
        <% end %>
        </div>
      </div>
    </li>
    <% end %>
    <% end %>
  </ul>
</div>
<!-- CARDS FIN -->
