<div class="flex-1 flex items-center">
  <!-- LOGO -->
  <a>
    <%= link_to root_path, class: "navbar-brand toggleColour no-underline hover:no-underline font-bold text-2xl lg:text-4xl text-black" do %>
      <div class="flex w-auto space-x-2">
          <div class="flex align-items-center ">
            <%= image_tag "pirate.svg", class: "", style: 'height:50px;width:auto;' %>
            <%= image_tag "logo.png", class: "mr-1", style: 'height:50px;width:auto;' %>
          </div>
      </div>
    <% end %>
  </a>
</div>

<!-- ONGLETS QUAND CONNECTE-->
<% if user_signed_in? %>


  <label for="menu-toggle" class="pointer-cursor block lg:hidden">
    <img>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar rounded-full w-10 h-10 mt-3 border-transparent dropdown-toggle" %>
      <% else %>
        <%= image_tag "user-default.jpg", class: "avatar rounded-full w-10 h-10 mt-3 border-transparent dropdown-toggle" %>
      <% end %>
      <title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
    </img>
  </label>
  <input class="hidden" type="checkbox" id="menu-toggle" />




<div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
  <nav>
  <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-1 lg:pt-0 mr-auto">

        <p class="lg:p-4 py-3 px-2 block border-b-2 border-transparent hover:text-black"><%= link_to "Quêtes", quests_path, class: "hover:text-black" %></p>
        <p class="lg:p-4 py-3 px-2 block border-b-2 border-transparent"><%= link_to "Mes guildes", myguilds_path, class: "hover:text-black" %>
          <% if current_user.notifs == 0 %>
            <div class="h-4 w-4 bg-white rounded-full text-white ml-1">
              <%= "" %>
            </div>
          <% else %>
            <div class="h-4 w-4 bg-base-orange rounded-full text-xxs font-bold text-center text-white mb-3 -ml-1 mr-1">
              <p class="-mt-1"><%= current_user.notifs %></p>

            </div>
          <% end %>
        </p>
        <p class="lg:p-4 py-3 px-2 block border-b-2 border-transparent"><%= link_to current_user.username, "#", class: "hover:text-black" %></p>
        <div class="lg:hidden pl-2"><a class="py-3 px-2 block border-b-2 border-transparent"><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "hover:text-black" %></a></div>

        <li class="nav-item dropdown hidden lg:inline">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar rounded-full w-10 h-10 ml-3 border-transparent dropdown-toggle hidden lg:inline", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "user-default.jpg", class: "avatar rounded-full w-10 h-10 ml-3 border-transparent dropdown-toggle hidden lg:inline", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>

  <!-- DROPDOWN CLICK SUR AVATAR EN LG-->
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profil", "#", class: "dropdown-item" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

    </ul>
  </nav>

      <% else %>
        <li class="nav-item">
          <%= link_to "Se connecter", new_user_session_path, class: "nav-link mx-auto lg:mx-0 text-gray-800 font-extrabold rounded lg:mt-0 py-4 px-8 shadow opacity-75" %>
        </li>
      <% end %>
</div>

