<div class="flex-1 flex items-center">

  <!-- LOGO -->
  <a>
    <%= link_to root_path, class: "navbar-brand toggleColour no-underline hover:no-underline font-bold text-2xl lg:text-4xl text-black" do %>
      <div class="flex w-auto space-x-2">

        <h1 class="flex align-items-center "><%= image_tag "oui.png", class: "mr-1 ", style: 'height:50px;width:auto;' %></h1>
      </div>
    <% end %>
  </a>

</div>

<!-- ONGLETS QUAND CONNECTE-->
<label for="menu-toggle" class="pointer-cursor lg:hidden block"><img class="rounded-full w-10 h-10 border-2 border-transparent" src="https://pbs.twimg.com/profile_images/1128143121475342337/e8tkhRaz_normal.jpg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></img></label>
<input class="hidden" type="checkbox" id="menu-toggle" />

<div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
  <nav>
  <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0 mr-auto">
    <% if user_signed_in? %>
        <li class="nav-item active lg:p-4 py-3 px-0 block border-b-2 border-transparent ">
          <%= link_to "Quêtes", quests_path, class: "nav-link inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4" %>
        </li>

        <li class="nav-item active flex lg:p-4 py-3 px-0 block border-b-2 border-transparent">
          <%= link_to "Mes guildes", myguilds_path, class: "nav-link inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 pl-4" %>
          <!-- notifs -->
          <% if current_user.notifs == 0 %>
            <div class="h-4 w-4 bg-white rounded-full text-white -ml-2 mr-4">
              <%= " " %>
            </div>
          <% else %>
            <div class="h-4 w-4 bg-base-orange rounded-full text-xxs font-bold text-center text-white -ml-2 mr-4">
              <%= current_user.notifs %>
            </div>
          <% end %>
        </li>

        <% end %>


        <a class="lg:p-4 py-3 px-2 block border-b-2 border-transparent" href="#">Features</a>

      </li>
      <li><a class="lg:p-4 py-3 px-2 block border-b-2 border-transparent" href="#">Pricing</a></li>
      <li><a class="lg:p-4 py-3 px-2 block border-b-2 border-transparent" href="#">Documentation</a></li>
      <li><a class="lg:p-4 py-3 px-2 block border-b-2 border-transparent" href="#">Support</a></li>
    </ul>
  </nav>
  <a href="#" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent pointer-cursor">
    <img class="rounded-full w-10 h-10 border-2 border-transparent" src="https://pbs.twimg.com/profile_images/1128143121475342337/e8tkhRaz_normal.jpg" alt="Andy Leverenz">
  </a>

</div>

