
<%= render 'shared_huyvu/navbar_home' %>
<%= render 'shared_huyvu/banner_home' %>


<div class="container">

  <%= render 'shared_huyvu/text_section_index_quest' %>
  <%= render 'shared_huyvu/card_quest' %>
</div>

  <%= render 'shared_huyvu/calltoaction' %>

  <%= render 'shared_huyvu/footer' %>




