<div class="p-10 md:p-20 md:px-0 items-center flex flex-col">

    <div class="max-w-lg p-6 md:p-12 my-8 shadow-2xl body-bg rounded-md">
        <div class="text-center">
            <h2 class="font-bold text-3xl text-black">Se connecter</h2>
        </div>
            <p class="text-beige-la pt-2">Prêt à vivre des aventures totalement folles ?</p>


        <div class="mt-8 ">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>



            <div class="flex flex-col" >
                <div class=" border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
                    <%= f.input :email,
                                required: false,
                                autofocus: true,
                                input_html: { autocomplete: "email" } %>
                </div>
                <div class=" border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
                    <%= f.input :password,
                                required: false,
                                input_html: { autocomplete: "current-password" } %>
                </div>
                <div class=" border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
                        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

                </div>

                <div class="flex flex-col items-center mt-4 px-12">
                  <%= f.button :submit, "Se connecter", class: 'button-create-quest' %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
