

    <div class="container">
  <div class="md:p-10 md:px-0 items-center">

      <div class="my-8 mx-52 p-4 shadow-2xl body-bg rounded-md">
          <div class="text-center">
              <h3 class="font-bold text-3xl mt-4">Créer une nouvelle piste</h3>
          </div>

      <div class="flex my-2 mx-2 items-center justify-center">


  <%= simple_form_for [@guild, @post] do |f| %>
  <form class="flex flex-col w-3/4" method="POST" action="#">
    <div class=" border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
        <%= f.hidden_field :category, value: 'piste' %>
    </div>
    <div class=" border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
    <%= f.input :title, label: 'Titre'  %>
    </div>
    <div class=" border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
    <%= f.input :description, label: 'Description'  %>
    </div>
    <div class=" border-black-100 rounded w-full text-black-900 focus:outline-none focus:border-purple-600 transition duration-500 p-1 mb-1 champ-form">
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>
    <div class="flex flex-col items-center mt-4 px-12 mb-2">


      <!--     <% if @post.new_record? %> -->
        <%= f.button :submit, 'Publier', class: 'button-create-quest'   %>
      <!--    <% end %> -->
    </div>
  <% end %>
</form>
</div>
</div>
</div>
</div>
