<div class="container">
  <%= simple_form_for [@guild, @post] do |f| %>
      <%= f.hidden_field :category, value: 'piste' %>
      <%= f.input :title, label: 'Titre'  %>
      <%= f.input :description, label: 'Description'  %>
      <!-- Ajouter un champ photo <%= f.input :photo, as: :file %> -->
      <!--     <% if @post.new_record? %> -->
        <%= f.button :submit, 'Créer ma piste', class: 'btn btn-primary'  %>
      <!--    <% end %> -->
  <% end %>
</div>
