<!-- INDEX DES PISTES -->
<div id="bg-piste" class="pb-20">
<div class="container-piste">

<!-- BOUCLE QUI AFFICHES CHAQUE PISTE -->

  <h2 class="text-center pt-16 pb-8 text-2xl">Les pistes pour la quête <em><%= @guild.quest.title %></em></h2>

    <div class="mx-40 text-center py-4">
      <%= link_to "Explorer une nouvelle piste", new_guild_post_path(@guild), class: "btn-rejoindre font-extrabold rounded mt-10 mb-10 py-2 px-4" %>
    </div>

    <% i = 0 %>
    <% c = 0 %>

    <% @pistes.each do |piste| %>
      <% if piste.guild == @guild %>
      <% c += 1 %>
      <% end %>
    <% end %>
    <% if c == 0 %>
        <%= image_tag "no_piste.png", height: 400, width: 400, crop: :fill %>
    <% else %>


      <% @pistes.each do |piste| %>
        <% if piste.guild == @guild %>
        <div class="min-w-0 p-4 m-4 bg-white rounded-xl h-auto">
          <% i += 1 %>
            <div class="p-3 rounded-xl bg-gray-50 mb-4" id= "<%= piste.id %>">
              <div class="flex items-center pb-1">
                <%= image_tag piste.user.photo, class: "avatar-mini"%>
                <h3 class="flex text-lg pl-2 items-center">Piste n°<%= i %> : <%= piste.title %>
                <p class="flex text-xxs italic text-gray-600 pl-2 pt-1"> <%= piste.created_at.strftime("%d %b. %y") %></p></h3>
              </div>
                <p class="px-2 text-justify"><%= piste.description %></p>

              <div class="flex items-center justify-center m-2 pb-2">
                <% piste.photos.each do |photo| %>
                  <div class="p-1"><%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %></div>
                <% end %>
              </div>

              <hr>

              <div class="comments py-2">
                <% if piste.category != "piste_publiee" %>
                  <% piste.comments.each do |comment| %>
                    <%= render 'comments/comment_section', comment: comment %>
                  <% end %>
                <% end %>
              </div>

                <p><%= simple_form_for [piste, @comment_new], remote: true do |f| %>
                  <div class="flex items-center">
                    <%= f.input_field :content, as: :string, label: false, placeholder: "Votre commentaire", class: 'pr-3 block w-full pl-2 pr-12 py-2.5 sm:text-sm border-gray-300 rounded-md' %>
                    <%= button_tag type: 'submit', class: 'btn-dash py-2 px-3 rounded-sm ml-3' do %>
                      <i class="fas fa-paper-plane"></i>
                    <% end %>
                  <% end %>
                  </div>
                </p>

          </div>

              <div class="">
                <% if piste.category == 'piste' %>
                  <div class="mt-2 items-right"><%= link_to "Poster l'avancée", new_avancee_from_post_post_path(piste), class: "btn btn-dash"  %></div>
                <% elsif piste.category == 'piste_publiee' %>
                  <p class= "text-lg text-right italic text-t-purple">Avancée déjà publiée 🏴‍☠️</p>
                <% end %>
              </div>
        </div>

        <% end %>
      <% end %>
    <% end %>


<!-- FIN DE BOUCLE -->

    <!-- BUTTONS RETOUR
    <div class= "autre">
      <%= link_to "Retour au tableau de bord", guild_path(@guild), class: "btn btn-primary mt-10 mb-10" %>
    </div>
    -->

</div>
</div>

