<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <meta name="description" content="<%= meta_description %>">

      <!-- Facebook Open Graph data -->
      <meta property="og:title" content="<%= meta_title %>" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:image" content="<%= meta_image %>" />
      <meta property="og:description" content="<%= meta_description %>" />
      <meta property="og:site_name" content="<%= meta_title %>" />

      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="<%= meta_title %>">
      <meta name="twitter:description" content="<%= meta_description %>">
      <meta name="twitter:image:src" content="<%= meta_image %>">

      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= favicon_link_tag asset_path('favicon.png') %>

      <style>
        #menu-toggle:checked + #menu {
          display: block;
        }
      </style>
  </head>


  <body class="flex flex-col min-h-screen antialiased bg-gray-200">
    <header class="lg:px-12 px-2 bg-white flex flex-wrap items-center lg:py-0">
     <%= render 'shared/navbar' %>
    </header>

    <main class="flex-grow">
     <%= render 'shared/flashes' %>
     <%= yield %>
    </main>

     <footer>
        <%= render 'shared/footer' %>
     </footer>
  </body>
</html>
